.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
user.teros-hdl.config.json
.github
auto_package
tests
tests_impr
resources/images/ChatGPT Image*.png
**/.fuse_hidden*
server/*.zip*
server/*.tar.gz*
